// 引入common.less公共类
@import "./common.less";
.mm_search {
    width: 100%;
    height: 50rem / @base;
    padding: 10rem / @base;
    background-color: #fff;
    input[type="text"] {
        width: 660rem / @base;
        height: 30rem / @base;
        padding-left: 20rem / @base;
        padding-right: 50rem / @base;
        font-size: 14rem / @base;
        border-radius: 15rem / @base;
        background-color: #f1f1f1;
    }
    input[type="button"] {
        height: 30rem / @base;
        width: 63rem / @base;
        border: none;
        border-radius: 15rem / @base;
        background-color: @myColor;
        font-size: 16rem / @base;
        color: #fff;
        line-height: 30rem / @base;
    }
}

.detile {
    width: 100%;
    .top {
        width:100%;
        margin-bottom: 3rem/@base;
        box-shadow: 0  5rem/@base  5rem/@base #7A7A7A;
        .nav {
            width: 100%;
            height: 39rem/@base;
            display: flex;
            justify-content: space-between;
            font-size: 14rem/@base;
            line-height: 39rem/@base;
            border: 1px solid #ccc;
            box-sizing: border-box;
            padding: 0 10rem/@base;
            background: linear-gradient(to bottom, #FCFCFC, #EEEEEE);
            button {
                width: 60rem/@base;
                height: 28rem/@base;
                text-align: center;
                line-height: 24rem/@base;
                font-size: 14rem/@base;
                border-radius: 6rem/@base;
                background: linear-gradient(to bottom, #E0E0E0, #FCFCFC);
                border: none;
                box-shadow: 0 1rem/@base 2rem/@base;
            }
        }
        .prodetile {
            width: 100%; // height:400rem/@base;
            background-color: #fff;
            padding-top: 20rem/@base ;
            padding-bottom: 10rem/@base ;
            .title {
                width: 100%;
                height: 140rem/@base;
                font-size: 18rem/@base;
                text-align: center;
                font-weight: normal;
            }
            .img {
                width: 100%; // height:140rem/@base;
                text-align: center;
                img {
                    width: 170rem/@base;
                    height: 170rem/@base;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        ul {
            width: 100%;
            display: flex;
            border-top: 1px solid #C14D00;
            border-bottom: 1px solid #C14D00;
            li {
                width: 33.33%;
                a {
                    display: block;
                    width: 100%;
                    height: 34rem/@base;
                    background-color: #FFC62B;
                    border-right: 1px solid #C14D00;
                    font-size: 16rem/@base;
                    text-align: center;
                    line-height: 34rem/@base;
                    box-sizing: border-box;
                    color: #fff;
                    font-weight: bold;
                }
            }
            li:nth-child(1) a {
                background-color: #FF9813;
            }
            li:nth-last-child(1) a {
                border-right: none;
            }
        }
        .table {
            font-size: 14rem/@base;
            height: 40rem/@base;
            line-height: 40rem/@base;
            img {
                display: block;
                width: 16rem/@base;
                height: 16rem/@base;
                margin: 12rem/@base auto;
            }
            .red {
                text-align: right;
                padding: 0 10rem/@base;
                color: red;
            }
        }
        .note {
            width: 100%;
            height: 30rem/@base;
            padding: 5rem/@base 10rem/@base;
            border-top: 1px solid #ccc;
            p {
                font-size: 12rem/@base;
            }
        }
    }
    .comment{
        width:100%;
        .header{
            width:100%;
            height:34rem/@base;
            background-color: #DBDBDB;
            font-size: 14rem/@base;
            text-align: center;
            line-height: 34rem/@base;
        }
        li{
            width:100%;
            // height:118rem/@base;
            padding: 10rem/@base ;
            padding-bottom: none;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            .time{
                display: flex;
                justify-content: space-between;
                font-size: 12rem/@base;
                color:#A0B4C5;
            }
            .source{
                font-size: 12rem/@base;
                color:#A0B4C5;
                text-align: right;
            }
            .article{
                font-size: 12rem/@base;
            }

        }
        .more{
            width:100%;
            height:60rem/@base;
            background-color: #fff;
            padding: 10rem/@base 15rem/@base;
            button{
              width:100%;
              height:100%;
              background-color: #DADADA;
              border-radius: 10rem/@base;
              border:none;
              font-size: 14rem/@base;
            }
        }
    }
}